* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdd8e5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    min-height: 100vh;

}

h1 {
    text-align: center;
    margin: 0;
    font-size: 30px;
}

.container {
    display: flex;
    width: 380px;
    height: 570px;
    border-radius: 8px;
    padding: 15px;
    margin-right: 10px;
    background-color: white;
    flex-direction: column;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    overflow: hidden;
    gap: 15px;
}


.container::-webkit-scrollbar {
    display: none;
}

button {
    cursor: pointer;
    background-color: #5f5fca;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
}

.input-con {
    display: flex;
    flex-direction: column;
}

.input-con input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media (max-width: 420px) {
    .container {
        width: 95vw;
        padding: 12px;
    }
}